version: '2'
services:
  mysql:
    container_name: mysql8
    image: mysql:latest
    command: mysqld --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - '3306:3306'
    volumes:
      - './mysql/data:/var/lib/mysql'
      - './mysql/my.cnf:/etc/mysql/conf.d/my.cnf'
    networks:
      - mysql

  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - 7000:80
    volumes:
      - ./nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/www:/home/www

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    tty: true
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOSTS=mysql
      - PMA_USER=root
      - PMA_PASSWORD=123456
    ports:
      - 7001:80
    networks:
      - mysql

  php:
    container_name: php
    build: ./php
    ports:
      - '7002:80'
    volumes:
      - ./php/html3:/var/www/html
    depends_on:
      - mysql
    networks:
      - mysql # 项目内可用 mysql:3306 调用

  # redis:
  #   container_name: redis
  #   image: redis:latest
  #   ports:
  #     - "6379:6379"
  #   restart: always
  #   volumes:
  #     - ./redis:/data
  #   command: redis-server --appendonly yes

networks:
  mysql:
    driver: bridge