[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Set the SQL mode to strict 
# sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
# SET @@global.sql_mode= '';  //http://huanyouchen.github.io/2018/05/22/mysql-error-1406-Data-too-long-for-column/

[client]
default-character-set=utf8mb4
